<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto7</title>
</head>
<body>
  <h1>Punto 7</h1>
  <h3>Lista de Campeones pares <span th:text="${par}"></span></h3>
  <h3>Campeones Nerfeados <span th:text="${borrar}"></span></h3>
  <h3>Cantidad de Campeones <span th:text="${cantidad}"></span></h3>
  <h3><a href="/home">Menu</a></h3>
</body>
</html>